include LICENSE
include README.md
include version
include qtwebkit_gui_skeleton/static/*
include qtwebkit_gui_skeleton/templates/*
include install/qtwebkit-gui-skeleton.xpm
include install/qtwebkit-gui-skeleton.desktop
